@*@model IEnumerable<News.Models.AspNetUser>

@Scripts.Render("~/Scripts/Table.js")
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Users List</h2>

<p>
    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Put any keyword you want to search in Search Box</h5>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("User Name")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
 
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>*@


@model IEnumerable<News.Models.AspNetUser>

@Scripts.Render("~/Scripts/Table.js")
<link href="~/Content/StyleSheet2.css" rel="stylesheet" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Users List</h2>

<p>
    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif"> Put any keyword you want to search in Search Box</h5>
</p>
<table id="data" class="table">
    <thead>
        <tr>
            @*<th>
                    @Html.Label("ID")
                </th>*@
            <th>
                @Html.Label("User Name")
            </th>
            <th>
                @Html.Label("Email")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)

                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

