@model IEnumerable<News.Models.Image>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.userName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fileName)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.image1)*@
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileName)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.image1)*@
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.imageID }) |
                @Html.ActionLink("Details", "Details", new { id = item.imageID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.imageID })
            </td>
        </tr>
    }

</table>
